@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "Chivo", sans-serif;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #121725;
}

body::before{
  content: "";
  background-image: url("./assets/mobile/image-host.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.075;
}

.content-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "article article article"
  "aside aside aside"
  "footer footer footer";
  grid-template-rows: 150px 1fr 1fr 60px;
  grid-template-columns: 20% 1fr 20%;
  /* grid-gap: 10px; */
  height: 100vh;
  margin: 0;
}

/* header, footer, article, aside, nav, div {
  padding: 10px;
} */

#pageHeader {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageFooter {
  grid-area: footer;
}

article {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#mainArticle {
  grid-area: article;
}

#mainNav {
  grid-area: nav;
}

#pageAside {
  grid-area: aside;
}

.pod-logo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.h1-title {
  font-size: 2.8rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #54E6AF;
  line-height: 3.8rem;
  text-align: center;
  margin-top: 0px;
}

.h1-title2{
  display: block;
  color: #ffffff;
}

.instructions {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.5rem;
  text-align: center;
  color: #C2CBE5;
  padding-left: 30px;
  padding-right: 30px;
}